@import url(./layout.css);

@import url(./buttons.css);

@import url(./child-list.css);

:root {
    --strong-cyan:hsl(171, 66%, 44%);
    --light-blue:hsl(233, 100%, 69%);
    --dark-greyish-blue:hsl(210, 10%, 33%);
    --grayish-blue:hsl(201, 11%, 66%);
    --footer-grey:#F5F6F8;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
    border: 0;
    margin: 0;
    padding: 0;   
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

.content-area {
    width: 90%;
    display: grid;

}
.header {    
    display: grid;
    justify-content: center;
    margin-top: 8rem;       
}
.grid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-container {
    display: flex;    
    flex-direction: column;
    
}
.article-title > h1 {
    display: flex;
    margin: 0;
    color: var(--dark-greyish-blue);
    
}
.article-content p {
    display: flex;
    line-height: 1.5rem;
    opacity: .4;
}
.button-container {
    display: flex;

    align-items: center;
    gap: 1rem;
}
.grid-section-img {
    width: 80%;
}
.article-trio {
    gap: 2rem;
    text-align: center;
}
.article-trio .article-container {
    gap: 1rem;
}
.article-trio h1{
    font-size: 1.5rem;
    
}
.article-trio p {
    margin: 0;
}

.article-img {
    width: 3rem;
    
}
.brand-container {

    display: flex;  
    align-items: center;
    gap: 3rem;


}

.footer-container {
    width: 100%;
    display: flex;
    align-items: center;

    padding: 3rem 0;
    gap: 2rem;
    background-color: var(--footer-grey);
}
.footer-logo {
    height: 3rem;
    width: 3rem;
}

.nav-bar-link {
    text-decoration: none;
    color: inherit;
}
.socials-container {
    display: flex;
 
    gap: 1.5rem;
}
.social-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
